/* this will be the default when the page is the smallest */
.items-container {
  width: 90vw;
  margin: 0 auto;
  max-width: 94rem;
  display: grid;
  gap: 2rem;
  justify-items: center;
  grid-template-columns: 30rem;
  place-content: center;
  transition: all 200ms ease-in-out;
  user-select: none;

  .menu-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 30rem;
    background-color: white;
    border-radius: 2rem;
    padding: 2rem;
    box-shadow: var(--box-shadow1);
    transform: translate3d(0, 0, 0);
    cursor: pointer;
    transition: all 500ms linear;
    overflow: hidden;

    .photo {
      width: 25rem;
      aspect-ratio: 2/1;
      object-position: center;
      object-fit: cover;
      border-radius: 0.5rem;
      width: 100%;
      transform: translateZ(0);
      transition: all 400ms ease-in-out;
    }

    .item-info {
      padding-top: 1rem;

      header {
        position: relative;
        font-size: 1.3rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
        backface-visibility: hidden;
        transform: translateZ(0);

        &::after {
          content: "";
          position: absolute;
          left: 0;
          right: 0;
          bottom: 0.5rem;
          height: 1px;
          background-color: var(--clr-subfont);
        }
      }

      .item-text {
        line-height: 1.5rem;
        text-align: left;
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        overflow: hidden;
      }
    }

    &:hover {
      transform: scale(1.05);
    }
  }

  .item-selected {
    transform: scale(1.05);
    box-shadow: var(--box-shadow1-selected);
    background-color: var(--clr-secondary1);

    header {
      color: white;
    }

    .item-text {
      color: white;
    }
  }

  .menu-item.item-sale {
    .price-container {
      display: flex;
      align-items: center;
      justify-content: space-evenly;
    }

    .price {
      color: var(--clr-accent1);
      text-decoration: none;
    }

    .sale-full-price {
      font-size: 0.85rem;
      font-family: var(--font-light);
      margin-left: 1rem;
      color: var(--clr-subfont);
      text-decoration: line-through;
    }
  }

  .menu-item.item-sale::after {
    content: "50% Off";
    font-family: var(--font-bold);
    letter-spacing: 0.05rem;
    position: absolute;
    background-color: var(--clr-accent1);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2.5rem;
    box-shadow: var(--box-shadow1-selected);
    width: 6rem;
    top: 0;
    right: 0;
    border-bottom-left-radius: 2rem;
  }

  .menu-item.item-selected.item-sale {
    .price {
      color: var(--clr-primary1);
    }
  }
}
